html
body
  height 100%
  margin 0

//.el-container
//  height 100%
//  margin-bottom 0
//.el-footer
//  //height 30px !important
//  font-size 18px
//  line-height 30px
//  height 30px !important
.el-container
.el-header
.el-footer
.el-main
.el-aside
  height 100% !important
  width 100% !important
  margin 0 !important
  padding 0 !important
  line-height normal !important

.el-main
  background-color aliceblue !important

.el-select
  width 100%

.pagination-panel
  line-height normal !important
